html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 280px;
  min-height: 250px;
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 10px;

  font-size: 12px;
  line-height: 1.2;
  font-family: "Arial", sans-serif;
  color: #7f8c8d;

  background-color: #ecf0f1;
}

.post-stats .icon {
  width: 15px;
  height: 15px;
}

/*
Все размеры, отступы, координаты, размеры шрифтов (не заданные в body) кратны 5 или 10.
Адреса картинок:
quotes.png
post-challenge.png
Картинка «кавычки» выровнена по центру
*/
.post {
  padding-left:75px;
  position:relative;
}
.post-title {
  color:#2980b9;
  font-size:20px;
  margin-bottom:5px;
}
.post-date {
  position:absolute;
  left:0px;
  top:0px;
  height:55px;
  width:55px;
  background:#fff;
  vertical-align:middle;
  line-height:55px;
  text-align:center;
  font-weight:bold;
  font-size:15px;
  border-bottom:5px solid #bdc3c7;
}
.post-type {
  position:absolute;
  left:0px;
  top:70px;
  height:55px;
  width:55px;
  background:#7f8c8d url("quotes.png") no-repeat 50% 50%;
  border-bottom: 5px solid #bdc3c7;
}

.post-author {
  margin-bottom:5px;
  
}
.post-author a {
  color:#2980b9;
  text-decoration:none;
}
.icon {
  vertical-align:middle;
}
.icon-tags {
  background-image: url("post-challenge.png");
  background-position: 0px 0px;
  display:inline-block;
  /*vertical-align:middle;*/
}
.post-stats a {display:inline-block; color:#2980b9;text-decoration:none;}
.icon-comments {
  display:inline-block;
  background-image: url("post-challenge.png");
  background-position: -20px 0px;
  margin-left:10px;
  vertical-align:middle;
}
.post-text {
  background: #fff;
  width:195px;
  height:120px;
  box-sizing:border-box;
  padding:10px 15px;
  border-bottom:5px solid #bdc3c7;
}